<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737164590776-hlqmqjodv93sebltv061al9esi6anguh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737164590776-hlqmqjodv93sebltv061al9esi6anguh</string>
	<key>API_KEY</key>
	<string>AIzaSyAmxGrteWBDwMKhWa0oqXhR0B6ZRvdEaB8</string>
	<key>GCM_SENDER_ID</key>
	<string>737164590776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.mblex</string>
	<key>PROJECT_ID</key>
	<string>mblex-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>mblex-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737164590776:ios:b095e4f1e5c54abba23e4d</string>
</dict>
</plist>